.group__headerItem {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: 0.3s;
    &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 0;
    bottom: -3;
    height: 3px;
    background: #E07A7A;
    }
}