.sliderbtn_next {
    right: 0;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.sliderbtn_next::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 30 40" fill="none"><path d="M21.0607 21.0607C21.6464 20.4749 21.6464 19.5251 21.0607 18.9393L11.5147 9.3934C10.9289 8.80761 9.97919 8.80761 9.3934 9.3934C8.80761 9.97919 8.80761 10.9289 9.3934 11.5147L17.8787 20L9.3934 28.4853C8.80761 29.0711 8.80761 30.0208 9.3934 30.6066C9.97919 31.1924 10.9289 31.1924 11.5147 30.6066L21.0607 21.0607ZM19 21.5H20V18.5H19V21.5Z" fill="white"/></svg>');
    background-size: 30px;
}