.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    counter-increment: slide;
    position: relative;
    user-select: none;
    will-change: transform;
    cursor: pointer;
}

.slider__item:nth-child(1) {
    background-image: url(../../../../../images/horizontalImage.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider__item:nth-child(2) {
    background-image: url(../../../../../images/verticalImage.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider__item:nth-child(3) {
    background-image: url(../../../../../images/horizontalImage.png);
    background-repeat: no-repeat;
    background-position: center;
}