.headerContent__group {
    display: flex;
    column-gap: 20px;
    font-size: 20px;
    line-height: 23.44px;
    align-items: center;
}

@media screen and (min-device-width: 320px) {
    .headerContent__group:nth-of-type(2) {
        display: none;
    }
}

@media screen and (min-device-width: 1440px) {
    .headerContent__group:nth-of-type(2) {
        display: flex;
    }
}